<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>АОАОАООАОАОА</title>
</head>
<body>
<div class="container" style="height: 100%">
    <div class="row justify-content-center align-content-center" style="height: 100%">
        <form method="post" class="form col-4">
            <input type="password" name = "password" placeholder="Введите пароль">
            <button class="style-button" type="submit">Зарегистрироваться</button>
            {% if error %}
            <p style="color: red; font-size: 12px">{{ error }}</p>
            {% endif %}
            {% if login %}
            <div class="reg">
                <h4>New account: </h4>
                <p style="color: green; font-size: 14px">{{ login }}</p>
            </div>
            {% endif %}
            <a class="style-a" href="/">Назад</a>
        </form>
    </div>
</div>
</body>
</html>